.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px;
  border: 1px solid black;
}

.nav-items > ul {
  list-style-type: none;
  display: flex;
}

.nav-items > ul > li {
  padding: 10px;
}

.logo {
  width: 100px;
}

.resturantCard {
  width: 200px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

.resturantCard > img {
  width: 100%;
}

.restaurantList {
  display: flex;
  flex-wrap: wrap;
}

.shimmer {
  height: 300px;
  width: 200px;
  background-color: #efefef;
  margin: 20px;
}

.resturantMenu {
  display: flex;
  flex-wrap: wrap;
}
